<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type = "text/css" href = "/css/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/new">Add a Photo</a>
      <a href="/">Home</a>
    </nav>
    <header>
      <h1>WDInstagram</h1>
    </header>
    <%= yield %>
  </body>
</html>
