<h3>Post a New Photo</h3>
<form action="/" method="post">
  <input type="text" name="entry[author]" placeholder="Author">
  <input type="text" name="entry[photo_url]" placeholder="Photo URL">
  <input type="text" name="entry[date_taken]" placeholder="YYYY-MM-DD">
  <input type="submit">
</form>
